:root{
    font-size: 16px;
    font-family: 'Open Sans';


    --text-primary:#b6b6b6;
    --text-secondary: #ececec;
    --bg-primary:#23232e;
    --bg-secondary:#141418;
    --bg-main:linear-gradient(to top right, #05437c,#1475ac);
    --transition-speed:600ms;
    --row-color:#05427c7a;
    --bg-glass:linear-gradient(to right bottom, rgba(255, 255, 255, .5), rgba(255, 255, 255, 0.2));
    --row-text-color : #d4d7daef;
    --contrast-color : var(--row-color);
}

body{
    color:black;
    background: var(--bg-main);
    margin:0;
    padding:0;
    height: 90%; /*do not change*/
    background-repeat: no-repeat; /*thx*/
}


body::-webkit-scrollbar {
    width:0.25rem;
}

body::-webkit-scrollbar-track {
    background: var(--row-text-color);
}
  
body::-webkit-scrollbar-thumb {
    background:var(--row-color);
}


main{

    background : linear-gradient(to right bottom, rgba(255, 255, 255, .5), rgba(255, 255, 255, 0.2));
    position:static;
    margin-left : 5rem;
    margin-top : 5%;
    margin-bottom : 5vh;
    margin-right: 5rem;
    min-height: 100vh;
    padding: 1rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    color : var(--row-text-color);
}
.appDiv{
    list-style: none;
    margin-left: 23vh;
    margin-top: 5vh;
}
.appDiv select{ 
    position : relative;
    left: 2vh;
    background-color: #30a4c812;
    border-width: 0.5vh;
    border-color: var(--row-text-color);
}

.appDiv select:hover{
    background-color: #74d5e8;
}
.appDiv input{
    position : relative;
    left: 2vh;
    background-color: var(--bg-main);
    border-width: 0.5vh;
    border-color: var(--row-text-color);
}
#contrast{
    color : var(--contrast-color);
}
#defaultResult{
    color : var(--contrast-color);
}

.row{
    background-color: var(--row-color);
    position: relative;
    min-width: 80%;
    max-width: 90%;
    padding: 2%;
    padding-left: 2vh;
    border-radius : 1vh;

}

#SubmitButton{
    font-size: 14px;
    position: relative;
    max-width: 70%;
    margin-right: 10%;
    margin-left : 10%;
    
}
#SubmitButton:hover{
    background-color: var(--bg-primary);
    cursor: pointer;
}
#resultDiagnosisDiv {
    margin-left: 23vh;
    margin-top: 5vh;
}
  .heading {
    font-size: 25px;
    margin-right: 25px;
  }
  
  .fa {
    font-size: 25px;
  }
  
  .checked {
    color: orange;
  }
  s
  /* Three column layout */
  .side {
    text-align: left;
    width: 15%;
    margin-top: 10px;
  }
  
  .middle {
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }
  
  /* Place text to the right */
  .right {
    text-align: right;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The bar container */
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }
  
  /* Individual bars */
  .bar-8 {width: 60%; height: 18px; background-color: #04AA6D;}
  .bar-7 {width: 30%; height: 18px; background-color: #2196F3;}
  .bar-6 {width: 10%; height: 18px; background-color: #00bcd4;}
  
  .bar-5 {width: 60%; height: 18px; background-color: #04AA6D;}
  .bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
  .bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
  .bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
  .bar-1 {width: 15%; height: 18px; background-color: #f44336;}
  
  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
  @media (max-width: 400px) {
    .side, .middle {
      width: 100%;
    }
    /* Hide the right column on small screens */
    .right {
      display: none;
    }
  }
/* fireworks yeah */
@keyframes fireworks1 {
    0%{
        transform: translateY(50vh);
    }
   
    50%{
        width: 5px;
        height: 5px;
    }
    70%{
       opacity: 100%;
    }
    100%{
        
        opacity: 0%;
        width: 100px;
        height: 100px;
    }
}

@keyframes fireworks2 {
    0%{
        transform: translateY(80vh);
    }
   
    50%{
        width: 5px;
        height: 5px;
    }
    70%{
       opacity: 100%;
    }
    100%{
        
        opacity: 0%;
        width: 200px;
        height: 200px;
    }
}
@keyframes fireworks3 {
    0%{
        transform: translateY(30vh);
    }
   
    50%{
        width: 5px;
        height: 5px;
    }
    70%{
       opacity: 100%;
    }
    100%{
        opacity: 0%;
        width: 125px;
        height: 125px;
    }
}
.fireworks1,
.fireworks2,
.fireworks3 {
    position:absolute;
    background-image: radial-gradient(yellow,yellow),
    radial-gradient(red,red),
    radial-gradient(pink,pink),
    radial-gradient(purple,purple),
    radial-gradient(blue,blue),
    radial-gradient(rgba(0, 255, 170, 0.84),rgba(0, 255, 170, 0.84)),
    radial-gradient(rgb(124, 22, 179),rgb(128, 17, 171)),
    radial-gradient(yellow,yellow),
    radial-gradient(red,red),
    radial-gradient(pink,pink),
    radial-gradient(purple,purple),
    radial-gradient(blue,blue),
    radial-gradient(rgba(0, 255, 170, 0.84),rgba(0, 255, 170, 0.84)),
    radial-gradient(rgb(124, 22, 179),rgb(128, 17, 171));
    background-position: 30% 90%, 0% 50%, 100% 10%, 10% 0%, 30% 30%,
    50% 10%, 40% 70%, 70% 30%, 100% 20%, 10% 70%, 50% 50%, 20% 85%,
    80% 80%, 0% 25%;
    width: 5px;
    height: 5px;
    
    transform: translate(-50% -50%);
    background-size: 5px 5px;
    background-repeat: no-repeat;
}
.fireworks1 {
    bottom : 30%;
    right : 30%;
    animation: fireworks1 1.5s infinite;
    animation-delay: 0.5s;
}
.fireworks2 {
    bottom : 30%;
    left : 30%;
    animation: fireworks2 3s infinite;
    animation-delay: 1s;
}
.fireworks3 {
    bottom : 30%;
    right : 50%;
    animation: fireworks3 2s infinite;
    animation-delay: 0.75s;
}


.navbar{
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;  
}


.nav-item{
    fill: var(--text-primary); 
    width: 100%;
    margin-bottom: 5%;
}

.nav-item:last-child{
    margin-top: auto;
    
}


.nav-link{
    display:flex;
    align-items: center;
    background-color: var(--bg-primary);
    height: 5rem;
    border-radius: 10px;
    border: 3px solid;
    border-color: var(--bg-primary);
    width: 95%;
    cursor: pointer;
    transition: var(--transition-speed);
 
}

.link-text{
    display: none;
    margin-left: 1rem;
    color: var(--text-primary);
    font-size:larger;
    font-weight: bolder;
    transition: var(--transition-speed);
   
}


.nav-link svg{
    width: 2rem;
    min-width: 2rem;
    margin-left: auto;
    margin-right: 5%;
    
}



.navbar:hover{
    width: 16rem;
}

.navbar:hover .link-text{
    display: block;
      
}

.nav-link:hover{
    background-color: var(--bg-secondary);
    fill: white;
}

.nav-link:hover .link-text{
    color: var(--text-secondary);
}






.nav-item:first-child{
    background-color:var(--bg-secondary);
}

.nav-item:first-child svg{
    transform: rotate(0deg);
    transition: var(--transition-speed)

}


#firstButton{
    background-color: var(--bg-secondary);
    border-color: var(--bg-secondary);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.3ch;
    width: 100%;
    cursor:auto;
}


.logo-text{
  transition: var(--transition-speed);
}

.navbar:hover .nav-item:first-child svg {
    transform: rotate(-180deg);
}


/*for small screens, like an iphone*/
@media only screen and (max-width:600px) {
    .navbar{
        bottom: 0;
        width: 100vw;
        height: 5rem;

    }
    
    
    .navbar:hover{
        width: 100%;
    }

    .navbar:hover .link-text{
        display: none;
    }

    .nav-item:first-child{
        display: none;
    }

    .nav-link:hover{
        background-color: var(--bg-primary);
    }

    .navbar-nav{
        flex-direction: row;
    }

    .nav-link{
        justify-content: center;
        height: 2rem;
        border: auto;
    }

    main{
        margin: 0;
    }
}



/*for large screens*/
@media only screen and (min-width:600px) {
    .navbar{
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover{
        width: 16rem;
    }

    .navbar:hover .link-text{
        display: inline;
        transition: var(--transition-speed);
    }
}


/*Theme logic
 would like to have hot
 would like to have cold
 would like to have shrek
 */

 .hot{
    --row-text-color:#b6cce1ef;
    --row-color:#05427c7a;
    --bg-glass:linear-gradient(to right bottom, rgba(255, 255, 255, .5), rgba(255, 255, 255, 0.2))
    --text-primary: white;
    --text-secondary: white;
    --bg-primary: #05437c;
    --bg-secondary:#1475ac;
    --bg-main: linear-gradient(to top right, #05437c,#05538b);
 }

 .cold{
    --row-text-color: #05427cf6;
    --bg-glass:linear-gradient(to right bottom, #07437bf5, #05427ce0);
    --row-color:#7cabd79a;
    --text-primary: #1a4152;
    --text-secondary: #3e6f85;
    --bg-primary: #74d5e8;
    --bg-secondary: #38bed9; 
    --bg-main: linear-gradient(to top right, #428dd3a8,#1474ac81);
 }


 #themeIcon{
    display: none;
 }

 .hot #sunnyIcon{
    display: block;
 }

 .cold #coldIcon{
    display: block;
 }


 
 

